@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
body {
	margin-bottom : 80px;
        margin-top : 80px;
}

.icon-zoom-in
{
  position:relative;
  left:23px;
  top:-8px;
  z-index:999;
}
.input-append input
{
  height:30px;
  padding-left:25px;
}

.btn-input {
   display: block;
}

.btn-input .btn.form-control {
    text-align: left;
}

.btn-input .btn.form-control span:first-child {
   left: 10px;
   overflow: hidden;
   position: absolute;
   right: 25px;
}

.btn-input .btn.form-control .caret {
   margin-top: -1px;
   position: absolute;
   right: 10px;
   top: 50%;
}


/********for live search*************/

/*div#searchbox {
	text-align:right;
}*/
h3 {
	font-family: 'PT Sans', Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #616161;
	text-decoration: none;
	font-size: 14px;
       
}
h4 {
	font-family: 'PT Sans', Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #616161;
	text-decoration: none;
	font-size: 12px;
}
ol, ul {
	list-style: none;
}
h3,h4,ol,ul,li{
    	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}
/*input#search {
	width: 200px;
	height: 25px;
	padding: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
        margin-right: 15px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	outline: none;
	border: 1px solid #ababab;
	font-size: 20px;
	line-height: 25px;
	color: #ababab;
        align: right;
}*/
/*input#search:hover, input#search:focus {
	color: #3b3b3b;
	border: 1px solid #36a2d2;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
}*/
h4#results-text {
	display: none;
}
ul#results {
	display: none;
/*	width: 250px;*/
	margin-top: 4px;
	border: 1px solid #ababab;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: rgba(0, 0, 0, .15) 0 1px 3px;
	-moz-box-shadow: rgba(0,0,0,.15) 0 1px 3px;
	box-shadow: rgba(0, 0, 0, .15) 0 1px 3px;
}
ul#results li {
	padding: 8px;
	cursor: pointer;
	border-top: 1px solid #cdcdcd;
	transition: background-color .3s ease-in-out;
	-moz-transition: background-color .3s ease-in-out;
	-webkit-transition: background-color .3s ease-in-out;
}
ul#results li:hover {
	background-color: #F7F7F7;
}
ul#results li:first-child {
	border-top: none;
}
ul#results li h3, ul#results li h4 {
	transition: color .3s ease-in-out;
	-moz-transition: color .3s ease-in-out;
	-webkit-transition: color .3s ease-in-out;
	color: #616161;
	line-height: 1.2em;
}
ul#results li:hover h3, ul#results li:hover h4  {
	color: #3b3b3b;
	font-weight: bold;
}


/* tab color */
.nav-tabs>li>a {
  background-color: #333333; 
  border-color: #777777;
  color:#fff;
}

/* active tab color */
/*.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: #fff;
  background-color: #666;
  border: 1px solid #888888;
}*/

/* hover tab color */
.nav-tabs>li>a:hover {
  border-color: #000000;
  background-color: #111111;
}


/*shopping page*/
#section_content_noiso {-moz-margin-top:50px;}
noindex:-o-prefocus, #section_content_noiso {margin-top:50px;}
#section_content_noiso {margin-top:0;}
#section_content {background-color:#fff;}

.content_box_full {width:48%;  margin:0.5%; padding:1.5%; float:left;}
/*.content_box {width:47.99%;  margin:0.3em; padding:0.25em; height:28em;}*/
/*.content_box {width:100%;  margin:0.3em; padding:0.25em; height:28em;}*/
.content_box {box-sizing:border-box;}
.content_box img {text-align:center; width:auto;}
.content_box_full h5 {height:2.6em;}
.content_box {height:26em;}
.content_box h5 {height:1.5em; font-size:1.1em;}
.content_box_full{width:88%; background-color:#f2f2f2; margin:2.5% 6%; padding:2.5%; color:#000; text-align:center;}
.content_box_full img {text-align:center; margin:0 auto;}
.content_box_full h5 {text-align:left; color:#03c4db; min-height:2em; font-weight:bold;}
.content_box_full .share_desc { padding:0 0 5px 0;}
.content_box_full a:hover, .content_box a:hover {text-decoration:none; color:#eee;}
/*.content_box{width:30.666%; float:left; background-color:#f2f2f2; height:29.5em; margin:0 0.75em 0.75em 0; padding:1.5%; color:#000; text-align:center;}*/
.content_box{width:100%; float:left; background-color:#f2f2f2; height:20.5em; margin:2em 0.75em 0.75em 0; padding:3.5%; color:#000; text-align:center;}
.content_box img {width:100%;}
.content_box h5{text-align:left;}
.content_box:hover, .content_box_full:hover {background-color:#004e95; cursor:pointer;}
.content_box:hover p, .content_box_full:hover p {color:#eee;}
.content_box_social {width:100%; max-width:100px; margin-top:0.5em; }

.img-responsive {display:inline;}

.share_desc {padding:5px 0; /*border-bottom:2px solid #03c4db;*/ text-align:left; color:#000; /*margin-bottom:5px;*/}
.share_desc p {font-size:1em; font-style:italic; line-height:1.4em; text-align:left;}

/*.share_desc {font-size:0.95em;}
.share_desc p {font-size:1em;}*/

/*For what to buy page*/
#longbox_ul{list-style:none; margin:0px; padding:0px;}
#longbox_ul{list-style-position:inside; margin:0px; padding:0px; clear:both; position:relative;}

.long_box_link>.long_box:hover {color:#eee; background-color:#004e95;}
.long_box_link:hover {text-decoration:none;}

/* longbox */
.long_box{width:100%; margin:0; padding:0.5%; color:#000; min-height:134px; height:100%; border-bottom:1px solid #03c4db;}
.long_box a:hover {text-decoration:none;}
.long_box_image {float:left; margin:0.5% 3% 0.5% 0.5%; max-width:167px; vertical-align:middle; height:auto; border:1px solid #666;}
.long_box_desc {padding:0.75%; text-align:justify; text-align-last:left; height:100%;}
.long_box_title {font-weight:bold; padding-bottom:2.5%;}
.long_box_link>.long_box:hover {color:#eee; background-color:#004e95;}
.long_box ul {list-style-position:outside; list-style-type:square;}
/* longbox end */

.clear {clear:both;}



.event a:hover{font-size: 30px; text-decoration: none;}

/*emergency page top photo*/
.content_slider {padding:10px 0; border-bottom:1px solid #666; border-top:1px solid #666;}
/*.content_slider {border:0; padding:0;}*/


.breadcrumb {margin:0; padding:0; font-style:normal; text-transform:uppercase; background:none; font-size:0.85em;}
.breadcrumb a:hover {color:blueviolet;}

/*for place details panel*/
.page-header{
    margin-top: 0;
}

.panel-body{
    padding-top: 0;
}
